# EEP 153 Proj 2: Group Sylvia Lane

## Minimum Cost Diet

### Topic:

### Objectives:

In [1]:
# Import packages needed for this project
import numpy as np
import pandas as pd

In [3]:
# Read diet minimum and maximum data
import pandas as pd
diet_min = pd.read_excel("Dietary Requirements.xlsx",sheet_name='diet_minimums')
diet_max = pd.read_excel("Dietary Requirements.xlsx",sheet_name='diet_maximums')
diet_max

,Nutrition,Source,C 1-3,F 4-8,M 4-8,F 9-13,M 9-13,F 14-18,M 14-18,F 19-30,M 19-30,F 31-50,M 31-50,F 51+,M 51+
0,"Sodium, Na",UL,1500,1900,1900,2200,2200,2300,2300,2300,2300,2300,2300,2300,2300
1,Energy,NaN,2500,2500,2500,2800,3000,3100,3100,3100,3100,3100,3100,3100,3100

### [A] Description of population of interest

### [A] Dietary Reference Intakes

### [A] Data on prices for different foods

### [A] Nutritional content of different foods

### [A] Solution

### [B] Is your solution edible?

### [B] Meal Reviews